.fusion-title{
	letter-spacing: 1px;
}

.fusion-title.center{
	margin-left:  auto;
	margin-right: auto;
}

.center .title-heading-left,
.center .title-heading-right{
	padding: 0;
}

.no-sep .title-sep-container{
	display: none !important;
}

.fa-map-marker{
	color:       #C72926;
	text-shadow: 1px 1px 2px #333333;
}

/* Gravity Forms */
#content .gform_wrapper{
	margin:    0;
	max-width: 100%;
}

#sidebar .gform_wrapper{
	margin:    0;
	max-width: 100%;
}

.gform_wrapper .top_label input.large,
.gform_wrapper .top_label select.large,
.gform_wrapper .top_label textarea.textarea,
.gform_wrapper .top_label li.gfield.gf_left_half input.large,
.gform_wrapper .top_label li.gfield.gf_right_half input.large{
	width: 100%;
}

.gform_wrapper .top_label .gfield_label{
	margin-bottom: 0;
}

.gform_wrapper .top_label .gfield_description{
	padding: 0;
}

.gform_wrapper li.field_description_above .gfield_description{
	margin-bottom: 0;
}

#mobile-nav li a{
	font-size: 22px;
}

.gform_wrapper .gfield input[type=text],
.gform_wrapper .gfield input[type=email],
.gform_wrapper .gfield input[type=tel],
.gform_wrapper .gfield input[type=url],
.gform_wrapper .gfield input[type=number],
.gform_wrapper .gfield input[type=password] input[type="number"],
.gform_wrapper input[type="password"]{
	padding: 8px 5px;
}

.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span.name_last{
	float: right;
}

.gform_wrapper .top_label li.gfield.gf_left_half + li.gfield{
	float: right;
}

.gfield.gf_left_half .gravity-select-parent,
.gfield.gf_right_half .gravity-select-parent{
	width: 100% !important;
}

@media (max-width: 1200px){
	/* STARTzz */
	.full-width-overflow-container{
		margin: 0 -30px;
	}

	.full-width-overflow-container .avada-row{
		margin: 0 15px;
	}

	/* ENDzz */
}

@media (max-width: 800px){
	/* STARTzz */
	.fusion-title h1,
	.fusion-title h2,
	.fusion-title h3,
	.fusion-title h4,
	.fusion-title h5,
	.fusion-title h6{
		white-space: normal;
	}

	.fusion-title .title-sep-container{
		display: none !important;
	}

	/* ENDzz */
}

@media (min-width: 1201px){
	/* STARTzz */
	.full-width-overflow-container{
		margin: 0px -405px;
	}

	/* ENDzz */
}

@media (min-width: 1921px){
	/* STARTzz */
	.full-width-overflow-container{
		margin: 0px -905px;
	}

	/* ENDzz */
}
