/* Text & Images */
.aligncenter{
	text-align: center;
	display: block;
	margin: 0 auto 10px;
}

.center,
.c{
	text-align: center;
}

.nomargin,
.nom{
	margin: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.nomp{
	margin: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.nom-top{
	margin-top: 0;
}

.bold{
	font-weight: bold;
}

.small{
	font-size: 80%;
	line-height: 1;
}

.uppercase{
	text-transform: uppercase;
}

a.button{
	text-decoration: none !important;
}

.tel,
[href*="tel:"]{
	cursor: default !important;
}


/* All Elements */
.clear{
	clear: both;
}

#note-for-after-clear:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#hidden,
.hidden,
#test-admin,
img[src*="/plugins/cookies-for-comments/"]{
	display: none;
}

#fixed{
	position: fixed;
	z-index: 999;
}

textarea{
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}


/* Gravity Forms */
.hide_label label.gfield_label,
.hide_label .ginput_complex label{
	display: none !important;
}

.hide_label .ginput_complex span{
	min-height: 1px !important;
}

.hide_label .ginput_container{
	margin-top: 0 !important;
}

.gform_wrapper .top_label .nom-top .gfield_label{
	margin-top: 0;
}


/* rev_slider */
.rev_slider iframe{
	border: none;
}