/* Gravity Forms */
.gform_wrapper .top_label li.gfield.gf_left_half input.large,
.gform_wrapper .top_label li.gfield.gf_right_half input.large{
	width: 100%;
}

.gform_wrapper .top_label li.gfield.gf_left_half{
	float: left;
}

.gform_wrapper .top_label li.gfield.gf_right_half{
	float: right;
}

.gfield.gf_left_half .gravity-select-parent,
.gfield.gf_right_half .gravity-select-parent{
	width: 100% !important;
}


/* Gravity Forms - ERRORS */
.validation_error,
.gform_wrapper div.validation_error{
	width: 100% !important;
	max-width: 100% !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	font-size: 1em !important;
	line-height: 1.2em !important;
	text-align: center;
}

.hide_label.gfield_error{
	padding-top: 10px !important;
}

.gform_wrapper li.gfield.gfield_error .ginput_container{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#main .gform_wrapper .gfield.gfield_error input[type=text],
#main .gform_wrapper .gfield.gfield_error input[type=email],
#main .gform_wrapper .gfield.gfield_error input[type=tel],
#main .gform_wrapper .gfield.gfield_error textarea{
	margin-bottom: 0px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;

}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.gform_wrapper .top_label .gfield_error,
#main .gform_wrapper .ginput_complex .ginput_full input[type=text],
#main .gform_wrapper .ginput_complex input[type=text]{
	width: 100% !important;
	max-width: 100% !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
#main .gform_wrapper li.gfield.gfield_error.gfield_contains_required select.gfield_select{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description,
.instruction.validation_message{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label{
	margin-bottom: 0 !important;
}

.gform_wrapper li.gfield_error ul.gfield_checkbox{
	padding: 0 6px !important;
}
