* html body {
	margin-top: 0 !important;
}

body.admin-bar {
	margin-top: -32px;
	padding-bottom: 32px;
}

body.wp-admin #footer {
	padding-bottom: 32px;
}

#wpadminbar {
	top: auto !important;
	bottom: 0;
}

#wpadminbar .quicklinks .ab-sub-wrapper {
	bottom: 32px;
}

#wpadminbar .quicklinks .ab-sub-wrapper ul .ab-sub-wrapper {
	bottom: -7px;
}
